@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        background-image: url('./imagens/OrlaCamacari.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<<div class="jumbotron">
    <h1 class="display-4">Arembepe</h1>
    <p class="lead">
        Arembepe fica no município de Camaçari, a 30 km de Salvador-Bahia,
        no litoral norte do estado. É uma das mais lindas praias baianas,
        natureza preservada, um lugar único. Por sua beleza e conexão
        com a vida natural, ficou famosa mundialmente nos anos 70,
        com o movimento hippie. Venha conhecer!
    </p>
    <img class="m-3" src="~/imagens/Arembepe1.jpeg" />
    <img class="m-3" src="~/imagens/Arembepe2.jpeg" />
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
</div>

 <div class="jumbotron">
     <h1 class="display-4">Barra do Jacuípe</h1>
     <p class="lead">
         
         O paraíso é aqui. Barra do Jacuípe é um lugar ímpar que te conecta as belezas naturais. Aqui você pode desfrutar de rio e mar com segurança, ainda pode acrescentar uma linda história na sua vida. Você vai se encantar!

     </p>
     <img class="m-3" src="~/imagens/Barradojacuipe3.jpg" />
     <img class="m-3" src="~/imagens/BarraJacuipe6.jpeg" />
     <hr class="my-4">
     <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
 </div>

 <div class="jumbotron">
     <h1 class="display-4">Itacimirim</h1>
     <p class="lead">

         Em Itacimirim você vai descobrir as belezas naturais de Camaçari. Um lugar mágico e único, aqui você se conectará com a natureza e descobrirá os segredos paradisíacos e se apaixonará pela vida simples do lugar. Te esperamos aqui!

     </p>
     <img class="m-3" src="~/imagens/Itacimirim5.jpg" />
     <img class="m-3" src="~/imagens/Itacimirim6.jpg" />
     <hr class="my-4">
     <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
 </div>