
@{
    ViewData["Title"] = "Promoções";
}

<h1>Promoções</h1>
<div class="conteudo">

    <h1>Pacotes</h1>
    <div class="principal">
        <div class="coluna1">
            <h2>Pacote Arembepe - Carnaval 2022 - 5 dias  - R$ 3.500</h2>
            <img src="/Imagens/Arembepe2.jpeg">
            <img src="/Imagens/Arembepe1.jpeg">

        </div>

        <div class="coluna2">
            <h2>Pacote Barra do Jacuípe 2023 - 5 dias  - R$ 4.800</h2>
            <img src="/Imagens/BarraJacuipe1.jpeg">
            <img src="/Imagens/BarraJacuipe6.jpeg">
        </div>
    </div>

    <div class="coluna3">
        <h2>Pacote Itacimirim  2023 - 5 dias  - R$ 3.800</h2>
        <img src="/Imagens/Itacimirim5.jpg">
        <img src="/Imagens/Itacimirim6.jpg">
    </div>
</div>